context.xml
/bin
/target/
.DS_Store
.classpath
.project
.externalToolBuilders
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.ws.service.policy.prefs

src/main/webapp/dspResources/.DS_Store
src/main/resources/rebel.xml
/.settings/org.eclipse.jdt.core.prefs
/.settings/.jsdtscope
