#wrapper {
	float:left;
    position: relative;
    width: 100%;
}

#left {
    background: #ffffff;
    position: absolute; /* IMPORTANT! */
    width: 20%;
    height: 100%;
}

#right {
    position: relative;
    width: 80%;
    float: right;
}

#sidebar {
    background: #0096d7;
    width: 20%;
    color: #000000;
}

.clear {
    clear: both;
}


/**  **/
.post {
    width: 80%;
    background: blue;
    margin: 10px;
}

.selected {
    background: green;
}

.marginBottom {
    margin-bottom:388px;
}